---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Section from "../components/Section.astro";
import TextBlock from "../components/TextBlock.astro";
import DetailsBlock from "../components/DetailsBlock.astro";
import Contents from "../components/Contents.astro";
---

<Layout title="Design for Scientists 2">
    <Intro />

	<Contents />

	<Section chapter="Chapter 1" title="Preparation">
		<TextBlock title="Project Goals" id="goals">
			<p>Before you design anything, it's important to take a step back and think about the project's complexity. </p>
			<p>What are your goals? Who are you talking to? And, how do you want the audience to feel when they look at your design?</p>
			<p>It's helpful to write down these insights and use them as a reference to evaluate your design along the way.</p>
		</TextBlock>
	
		<TextBlock title="Content Design" id="content">
			<p>After defining the key objectives of your project, it's time to gather all assets like text, images, or graphics. </p>
			<p>Do you have everything you need? Do you need to search for additional assets, or can you create them yourself?</p>
			<p>Next, prepare your text by structuring, condensing, and rewriting it to include only the most essential parts needed to convey your key message.</p>
		</TextBlock>
	
		<TextBlock title="Layout Sketches" id="sketches">
			<p>Once text and images are defined, you can explore different ways to arrange them by sketching on a piece of paper. </p>
			<p>It's beneficial to use just basic shapes and focus on the rough arrangement of elements. This helps you decide on one layout that you can then refine in detail.</p>
		</TextBlock>
	</Section>

	<Section chapter="Chapter 2" title="Principles">
		<TextBlock title="Accessibility" id = "accessibility">
			<p>There are people out there with different abilities, and we want to ensure we reduce friction for them to experience our design.</p>
			<p>Present your content in a way that people of all abilities can understand with the least amount of effort needed.</p>
		</TextBlock>

		<TextBlock title="Simplicity" id = "simplicity">
			<p>To achieve this, make your content and design as simple as possible. Show what's needed, when it's needed. This helps everyone to consume your content with ease.</p>
			<p>Focus on your key messages and remove anything that distracts from it, using plain language and a streamlined layout.</p>
		</TextBlock>

		<TextBlock title="Iteration" id = "iteration">
			<p>It's rare for something to be perfect the first time, and this is especially true for design. Always start with a first idea, then create variations to see if you can improve upon it. </p>
			<p>Explore different designs and pick one that aligns best with your goals. Share it with the audience for early feedback.</p>
		</TextBlock>
	</Section>

	<Section chapter="Chapter 3" title="Fundamentals">
		<DetailsBlock
    		title = "Visual Hierarchy"
    		body = "The principle of arranging elements to show their order of importance."
    		titlegood = "Have a clear visual hierarchy"
    		bodygood = "Use size and position to create different levels of importance in your design."
    		imagegood = "/images/fundamentals/visual-hierarchy-good.svg"
    		titlebad = "Avoid arbitrary placement of elements"
    		bodybad = "When there is no visual hierarchy it is difficult for the viewer to understand what you want to communicate."
    		imagebad = "/images/fundamentals/visual-hierarchy-bad.svg"
			id = "visualhierarchy"
		/>

		<DetailsBlock
    		title = "Whitespace"
    		body = "The area between design elements."
    		titlegood = "Leave space around elements"
    		bodygood = "Use empty space in your design to give room for each element."
    		imagegood = "/images/fundamentals/whitespace-good.svg"
    		titlebad = "Avoid using all available space"
    		bodybad = "When there is no space between elements the layout feels dense and is harder to understand."
    		imagebad = "/images/fundamentals/whitespace-bad.svg"
			id = "whitespace"
		/>
	</Section>

	<Section chapter = "Chapter 4" title = "Typography">
		<TextBlock title = "Using Typography" id = "typography">
			<p>Most of your design will be written word, so it is important to make sure this is done properly.</p>
			<p>In this chapter you will learn about the basic properties of typography and best practices on how to use them.</p>
		</TextBlock>

		<DetailsBlock
    		title = "Typeface"
    		body = "A typeface (or font family) is the design of letters, numbers and other symbols."
    		titlegood = "Keep typefaces to a minimum"
    		bodygood = "Using just one or two typefaces makes your design clean and harmoneous."
    		imagegood = "/images/typography/typeface-good.svg"
    		titlebad = "Avoid mixing too many typefaces"
    		bodybad = "Using too many and inappropriate typefaces makes your design feel unbalanced."
    		imagebad = "/images/typography/typeface-bad.svg"
			id = "typeface"
		/>

		<DetailsBlock
    		title = "Text Styles"
    		body = "A collection of text sizes and weights that are used in a design."
    		titlegood = "Use a small and fixed  set of text styles"
    		bodygood = "Having a small set of mathematically related text styles (for example a ratio of 1.2) helps you create visual hierarchy."
    		imagegood = "/images/typography/text-styles-good.svg"
    		titlebad = "Avoid using many different text styles"
    		bodybad = "When there are many different text styles it is hard for the reader to distinguish between them."
    		imagebad = "/images/typography/text-styles-bad.svg"
			id = "textstyles"
		/>

		<DetailsBlock
    		title = "Font Weight"
    		body = "The font weight sets the weight (or boldness) of a font."
    		titlegood = "Use font weight to create hierarchy"
    		bodygood = "Use bold font weights to highlight important elements and regular weights for body text."
    		imagegood = "/images/typography/font-weight-good.svg"
    		titlebad = "Avoid using bold text for body copy"
    		bodybad = "When there is no clear hierarchy it is hard to scan the text. Also bold copy text is hard to read."
    		imagebad = "/images/typography/font-weight-bad.svg"
			id = "fontweight"
		/>

		<DetailsBlock
    		title = "Text Size"
    		body = "The size of characters in a piece of text."
    		titlegood = "Use text sizes that are easy to read"
    		bodygood = "Make sure your text is large enough for everyone to read."
    		imagegood = "/images/typography/text-size-good.svg"
    		titlebad = "Avoid using small font sizes"
    		bodybad = "When text is to small people have a hard time understanding what you want to communicate."
    		imagebad = "/images/typography/text-size-bad.svg"
			id = "textsize"
		/>

		<DetailsBlock
    		title = "Text Alignment"
    		body = "The way text is aligned to itself."
    		titlegood = "Use left aligned text in the western world"
    		bodygood = "Using left aligned text reduces friction to read it compared to all other types of alignment."
    		imagegood = "/images/typography/text-alignment-good.svg"
    		titlebad = "Avoid centred and right aligned text"
    		bodybad = "Having centred or right aligned text makes it difficult for the eye to stay within a line."
    		imagebad = "/images/typography/text-alignment-bad.svg"
			id = "textalignment"
		/>

		<DetailsBlock
    		title = "Line Height"
    		body = "The space between two lines of text."
    		titlegood = "Use larger line heights for body text"
    		bodygood = "Using narrow line heights for headings and wide line heights for body text."
    		imagegood = "/images/typography/line-height-good.svg"
    		titlebad = "Avoid narrow line heights for body text"
    		bodybad = "When line heights are too wide on headings and too narrow on body text it is hard to read."
    		imagebad = "/images/typography/line-height-bad.svg"
			id = "lineheight"
		/>

		<DetailsBlock
    		title = "Line Length"
    		body = "The number of characters in one line of text."
    		titlegood = "Use 60-80 characters per line for paragraphs"
    		bodygood = "Having an appropriate text length that is not too wide or too narrow makes it easier to read."
    		imagegood = "/images/typography/line-length-good.svg"
    		titlebad = "Avoid making text too wide or too narrow"
    		bodybad = "When the line length is to narrow or too long it is difficult for the eye to find the new line."
    		imagebad = "/images/typography/line-length-bad.svg"
			id = "linelength"
		/>
	</Section>

	<Section chapter = "Chapter 5" title = "Layout">

		<TextBlock title = "Using Layout" id = "layout">
			<p>The way you place elements in your design can have a huge effect on how people can consume it.</p>
			<p>This chapter gives you a basic introduction on layout techniques and how to work with them.</p>
		</TextBlock>

		<DetailsBlock
    		title = "Alignment"
    		body = "The arrangement of elements in a straight line relative to each other."
    		titlegood = "Align every element to something else"
    		bodygood = "This creates balance and guides the viewer through your design."
    		imagegood = "/images/layout/alignment-good.svg"
    		titlebad = "Avoid placing elements randomly"
    		bodybad = "Having all elements positioned somewhere without relation creates a sense of unbalance."
    		imagebad = "/images/layout/alignment-bad.svg"
			id = "alignment"
		/>

		<DetailsBlock
    		title = "Layout Grid"
    		body = "A way of creating guides that help to align elements in a design."
    		titlegood = "Use a grid whenever possible"
    		bodygood = "A grid helps you to align elements properly and creates structure in your design."
    		imagegood = "/images/layout/layout-grid-good.svg"
    		titlebad = "Avoid placing elements just somewhere"
    		bodybad = "Without a grid it is harder to align elements, which tends to create an unstructured layout."
    		imagebad = "/images/layout/layout-grid-bad.svg"
			id = "layoutgrid"
		/>

		<DetailsBlock
    		title = "Spacing System"
    		body = "The way you define the space you leave between elements."
    		titlegood = "Use a simple spacing system"
    		bodygood = "With a spacing system you define the spacings that are allowed to use in you design."
    		imagegood = "/images/layout/spacing-system-good.svg"
    		titlebad = "Avoid placing elements too narrow"
    		bodybad = "Without a spacing system you might use different spacings which leads to an unbalanced layout."
    		imagebad = "/images/layout/spacing-system-bad.svg"
			id = "spacingsystem"
		/>

		<DetailsBlock
    		title = "Law of Proximity"
    		body = "Elements being placed near each other are perceived as belonging together."
    		titlegood = "Group related elements by placing them near each other"
    		bodygood = "Using the law of proximity helps users identify related pieces of information."
    		imagegood = "/images/layout/proximity-good.svg"
    		titlebad = "Avoid arbitrary placement of related elements"
    		bodybad = "When related elements are placed anywhere, it is hard for people to find necessary information."
    		imagebad = "/images/layout/proximity-bad.svg"
			id = "proximity"
		/>

		<DetailsBlock
    		title = "Law of Similarity"
    		body = "Elements that look similar are perceived as belonging together."
    		titlegood = "Group related elements by making them look similar"
    		bodygood = "When related elements look similar, it helps people to understand your design."
    		imagegood = "/images/layout/similarity-good.svg"
    		titlebad = "Avoid different styles for related elements"
    		bodybad = "It is hard for people to understand that elements are related, when they look different."
    		imagebad = "/images/layout/similarity-bad.svg"
			id = "similarity"
		/>

		<DetailsBlock
    		title = "Law of Common Ground"
    		body = "Elements that share a surface are perceived as belonging together."
    		titlegood = "Group related elements with a surface or border"
    		bodygood = "When related elements share a surface it helps people to make sense of the design."
    		imagegood = "/images/layout/common-ground-good.svg"
    		titlebad = "Avoid using elements without a purpose"
    		bodybad = "When elements are used without a purpose it can increase the effort it takes to understand a design."
    		imagebad = "/images/layout/common-ground-bad.svg"
			id = "commonground"
		/>
	</Section>

	<Section chapter = "Chapter 6" title = "Color">
		<TextBlock title = "Using Color" id = "color">
			<p>Color is a powerful tool to create a certain mood and highlight important elements.</p>
			<p>This chapter gives you a basic introduction on how to use color in your design.</p>
		</TextBlock>

		<DetailsBlock
    		title = "Color Palette"
    		body = "A curated set of colors used within a design."
    		titlegood = "Use a fixed and reduced color palette"
    		bodygood = "With a well chosen and reduced color palette your design will communicate one theme."
    		imagegood = "/images/color/palette-good.svg"
    		titlebad = "Avoid using too many colors"
    		bodybad = "With too many colors, your text becomes hard to read and your design feels unbalanced."
    		imagebad = "/images/color/palette-bad.svg"
			id = "colorpalette"
		/>

		<DetailsBlock
    		title = "Strategic Colors"
    		body = "The use of color to direct attention to specific elements in a design."
    		titlegood = "Use colors strategically to direct attention"
    		bodygood = "When elements are highlighted with color it helps people to identify the desired action."
    		imagegood = "/images/color/strategic-colors-good.svg"
    		titlebad = "Avoid using colors just for decoration"
    		bodybad = "When elements have color without a purpose it distracts people from their tasks."
    		imagebad = "/images/color/strategic-colors-bad.svg"
			id = "strategiccolors"
		/>

		<DetailsBlock
    		title = "Text on Images"
    		body = "The placement of text on images."
    		titlegood = "Use text on images with caution"
    		bodygood = "When placing text on images make sure that it is easy to read."
    		imagegood = "/images/color/images-good.svg"
    		titlebad = "Avoid text on complex images"
    		bodybad = "When there is text on complex images it is hard for people to read."
    		imagebad = "/images/color/images-bad.svg"
			id = "textonimages"
		/>

		<DetailsBlock
    		title = "Contrast"
    		body = "The contrast of the text and the background it is placed on."
    		titlegood = "Use colors on text that people can see"
    		bodygood = "When there is enough contrast on text, people can read it."
    		imagegood = "/images/color/contrast-good.svg"
    		titlebad = "Avoid text with low contrast"
    		bodybad = "When contrast on text is too low, people can find it difficult to read."
    		imagebad = "/images/color/contrast-bad.svg"
			id = "contrast"
		/>
	</Section>

</Layout>
