---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Content from "../components/Content.astro";
---

<Layout title="Design for Scientists 2">
    <Intro
      title="Design for Scientists"
      body="Learn how to use visual design to communicate your research effectively to all kind of people."
	/>

    <Content title="Read this first">
		<p>This guide is driven by the idea that information should be accessible to as many people as possible with the least amount of effort needed to consume it.</p>
		<p>It is centred around accessibility and simplicity.</p>
		<div>
			<p>You will learn about the following:</p>
			<ul>
				<li>Fundamental concepts of visual design</li>
				<li>Elements of visual design and best practices</li>
				<li>Combine concepts and elements effectively</li>
			</ul>
		</div>
    </Content>
</Layout>
