---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Section from "../components/Section.astro";
import TextBlock from "../components/TextBlock.astro";
import DetailsBlock from "../components/DetailsBlock.astro";
import Contents from "../components/Contents.astro";
---

<Layout title="Design for Scientists 2">
    <Intro />

	<Contents />

	<Section chapter="Chapter 1" title="Preparation">
		<TextBlock title="Start with the goals" id="goals">
			<p>Before you design anything it is important to take a step back and think about what you want to achieve with the designed thing.</p>
			<p>It is helpful to write down your goals and have them as a reference to evaluate your design along the way.</p>
		</TextBlock>
	
		<TextBlock title="Know your audience" id="audience">
			<p>While you think about your goals you should also define the intended target audience your are talking to.</p>
			<p>This will affect the words you should use for writing and the look and feel of the design.</p>
		</TextBlock>
	
		<TextBlock title="Prepare your design" id="preparation">
			<p>Most of your design will be written words and images or graphics to support them. It helps a lot to create a rough outline of the thing you want to design to define what elements you need and where you might place them.</p>
			<p>This can be done on a piece of paper, since it is quick and let’s you explore different options quickly.</p>
		</TextBlock>
	
		<TextBlock title="Words are important" id="writing">
			<p>We use design techniques to ensure the message we want to communicate is best received by the audience.</p>
			<p>Since most of the design is written word we should have it as final as possible when we start designing, so that we can support the content with how we design it.</p>
		</TextBlock>
	</Section>

	<Section chapter="Chapter 2" title="Principles">
		<TextBlock title="Accessibility" id = "accessibility">
			<p>There are people out there with different kind of abilities and we want to make sure that we reduce friction for them to consume our content.</p>
		</TextBlock>

		<TextBlock title="Simplicity" id = "simplicity">
			<p>In order to do so we make our content and our design as simple as possible and show what is needed, when it is needed. This helps everyone to consume our content with ease.</p>
		</TextBlock>

		<TextBlock title="Iteration" id = "iteration">
			<p>Almost nothing is done right the first time and this is especially true for design. Always start with a first idea and then make variations of it and see if you have improved on that.</p>
			<p>Most of the time you should ask yourself what you can add or remove to communicate your message better.</p>
		</TextBlock>
	</Section>

	<Section chapter="Chapter 3" title="Fundamentals">
		<DetailsBlock
    		title = "Visual Hierarchy"
    		body = "The principle of arranging elements to show their order of importance."
    		titlegood = "Have a clear visual hierarchy"
    		bodygood = "Use size and position to create different levels of importance in your design."
    		imagegood = "/images/fundamentals/visual-hierarchy-good.svg"
    		titlebad = "Avoid arbitrary placement of elements"
    		bodybad = "When there is no visual hierarchy it is difficult for the viewer to understand what you want to communicate."
    		imagebad = "/images/fundamentals/visual-hierarchy-bad.svg"
			id = "visualhierarchy"
		/>

		<DetailsBlock
    		title = "Whitespace"
    		body = "The area between design elements."
    		titlegood = "Leave space around elements"
    		bodygood = "Use empty space in your design to give room for each element."
    		imagegood = "/images/fundamentals/whitespace-good.svg"
    		titlebad = "Avoid using all available space"
    		bodybad = "When there is no space between elements the layout feels dense and is harder to understand."
    		imagebad = "/images/fundamentals/whitespace-bad.svg"
			id = "whitespace"
		/>
	</Section>

	<Section chapter = "Chapter 4" title = "Typography">
		<TextBlock title = "Using Typography" id = "typography">
			<p>Most of your design will be written word, so it is important to make sure this is done properly.</p>
			<p>In this chapter you will learn about the basic properties of typography and best practices on how to use them.</p>
		</TextBlock>

		<DetailsBlock
    		title = "Typeface"
    		body = "A typeface (or font family) is the design of letters, numbers and other symbols."
    		titlegood = "Keep typefaces to a minimum"
    		bodygood = "Using just one or two typefaces makes your design clean and harmoneous."
    		imagegood = "/images/typography/typeface-good.svg"
    		titlebad = "Avoid mixing too many typefaces"
    		bodybad = "Using too many and inappropriate typefaces makes your design feel unbalanced."
    		imagebad = "/images/typography/typeface-bad.svg"
			id = "typeface"
		/>

		<DetailsBlock
    		title = "Text Styles"
    		body = "A collection of text sizes and weights that are used in a design."
    		titlegood = "Use a small and fixed  set of text styles"
    		bodygood = "Having a small set of mathematically related text styles (for example a ratio of 1.2) helps you create visual hierarchy."
    		imagegood = "/images/typography/text-styles-good.svg"
    		titlebad = "Avoid using many different text styles"
    		bodybad = "When there are many different text styles it is hard for the reader to distinguish between them."
    		imagebad = "/images/typography/text-styles-bad.svg"
			id = "textstyles"
		/>

		<DetailsBlock
    		title = "Font Weight"
    		body = "The font weight sets the weight (or boldness) of a font."
    		titlegood = "Use font weight to create hierarchy"
    		bodygood = "Use bold font weights to highlight important elements and regular weights for body text."
    		imagegood = "/images/typography/font-weight-good.svg"
    		titlebad = "Avoid using bold text for body copy"
    		bodybad = "When there is no clear hierarchy it is hard to scan the text. Also bold copy text is hard to read."
    		imagebad = "/images/typography/font-weight-bad.svg"
			id = "fontweight"
		/>

		<DetailsBlock
    		title = "Text Size"
    		body = "The size of characters in a piece of text."
    		titlegood = "Use text sizes that are easy to read"
    		bodygood = "Make sure your text is large enough for everyone to read."
    		imagegood = "/images/typography/text-size-good.svg"
    		titlebad = "Avoid using small font sizes"
    		bodybad = "When text is to small people have a hard time understanding what you want to communicate."
    		imagebad = "/images/typography/text-size-bad.svg"
			id = "textsize"
		/>

		<DetailsBlock
    		title = "Text Alignment"
    		body = "The way text is aligned to itself."
    		titlegood = "Use left aligned text in the western world"
    		bodygood = "Using left aligned text reduces friction to read it compared to all other types of alignment."
    		imagegood = "/images/typography/text-alignment-good.svg"
    		titlebad = "Avoid centred and right aligned text"
    		bodybad = "Having centred or right aligned text makes it difficult for the eye to stay within a line."
    		imagebad = "/images/typography/text-alignment-bad.svg"
			id = "textalignment"
		/>
	</Section>

</Layout>
