---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Design for Scientists 2">
	<main>
		<h1>Design for Scientists 2</h1>
		<p>Learn how to use visual design to communicate your research effectively to all kind of people.</p>
	</main>
</Layout>
