---
import Block from "./Block.astro";
const { title, body } = Astro.props;
---

<section>
    <h2>Index</h2>
    <Block>
        <div slot = "first" class="column">
            <a class="body-l" href="#goals">Goals</a>
            <a class="body-l" href="#audience">Target Audience</a>
            <a class="body-l" href="#preparation">Preparation</a>
            <a class="body-l" href="#writing">Writing</a>
            <p class="body-l"></p>
            <a class="body-l" href="#accessibility">Accessibility</a>
            <a class="body-l" href="#simplicity">Simplicity</a>
            <a class="body-l" href="#iteration">Iteration</a>
            <p class="body-l"></p>
            <a class="body-l" href="#hierarchy">Visual Hierarchy</a>
            <a class="body-l" href="#whitespace">Whitespace</a>
            <p class="body-l"></p>
        </div>
        <div slot = "second" class="column">
            <a class="body-l" href="#typography">Typography</a>
            <a class="body-l" href="#lineheight">Line Height</a>
            <a class="body-l" href="#linelength">Line Length</a>
            <a class="body-l" href="#textalignment">Text Alignment</a>
            <a class="body-l" href="#textsize">Text Size</a>
            <a class="body-l" href="#fontweight">Font Weight</a>
            <a class="body-l" href="#readability">Readability</a>
            <a class="body-l" href="#typefaces">Typefaces</a>
            <p class="body-l"></p>
            <a class="body-l" href="#layout">Layout</a>
            <a class="body-l" href="#alignment">Alignment</a>
            <a class="body-l" href="#grid">Layout Grid</a>
            <a class="body-l" href="#space">Space</a>
            <a class="body-l" href="#proximity">Proximity</a>
            <a class="body-l" href="#similarity">Similarity</a>
            <a class="body-l" href="#ground">Common Ground</a>
            <p class="body-l"></p>
            <a class="body-l" href="#color">Color</a>
            <a class="body-l" href="#colorpalette">Color Palette</a>
            <a class="body-l" href="#directattention">Direct Attention</a>
            <a class="body-l" href="#textonimages">Text on Images</a>
            <a class="body-l" href="#colorcontrast">Color Contrast</a>
        </div>
    </Block>
</section>

<style>
    section {
        width: 100%;
    }

    h2 {
        margin-bottom: var(--spacing-3xl);
    }

    a {
        width: fit-content;
        color: hsl(0, 0%, 0%);
        text-decoration: none;
        transition: all 0.04s ease-in;
        line-height: 1.8;
    }

    p:before {
        content: "\00a0";
    }

    a:hover {
        font-weight: var(--font-weight-bold);
        transform: scale(1.1);
    }

    a:focus {
        outline: none;
        font-weight: var(--font-weight-bold);
        transform: scale(1.1);
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
    }
</style>
