---
import Block from "./Block.astro";
const { title, body } = Astro.props;
---

<section id="index">
    <h2>Index</h2>
    <div class="container">
        <div slot = "first" class="column">
            <a class="body-l" href="#goals">Goals</a>
            <a class="body-l" href="#audience">Target Audience</a>
            <a class="body-l" href="#preparation">Preparation</a>
            <a class="body-l" href="#writing">Writing</a>
            <a class="body-l" href="#accessibility">Accessibility</a>
            <a class="body-l" href="#simplicity">Simplicity</a>
            <a class="body-l" href="#iteration">Iteration</a>
            <a class="body-l" href="#visualhierarchy">Visual Hierarchy</a>
            <a class="body-l" href="#whitespace">Whitespace</a>
            <a class="body-l" href="#typography">Typography</a>
            <a class="body-l" href="#typeface">Typeface</a>
            <a class="body-l" href="#textstyles">Text Styles</a>
            <a class="body-l" href="#fontweight">Font Weight</a>
            <a class="body-l" href="#textsize">Text Size</a>
            <a class="body-l" href="#textalignment">Text Alignment</a>
        </div>
        <div slot = "second" class="column">
            <a class="body-l" href="#lineheight">Line Height</a>
            <a class="body-l" href="#linelength">Line Length</a>
            <a class="body-l" href="#layout">Layout</a>
            <a class="body-l" href="#alignment">Alignment</a>
            <a class="body-l" href="#layoutgrid">Layout Grid</a>
            <a class="body-l" href="#spacingsystem">Spacing System</a>
            <a class="body-l" href="#proximity">Proximity</a>
            <a class="body-l" href="#similarity">Similarity</a>
            <a class="body-l" href="#commonground">Common Ground</a>
            <a class="body-l" href="#color">Color</a>
            <a class="body-l" href="#colorpalette">Color Palette</a>
            <a class="body-l" href="#strategiccolors">Strategic Colors</a>
            <a class="body-l" href="#textonimages">Text on Images</a>
            <a class="body-l" href="#contrast">Contrast</a>
        </div>
    </div>
</section>

<style>
    section {
        width: 100%;
        padding-top: 80px;
        margin-top: -80px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-l);
    }

    h2 {
        margin-bottom: var(--spacing-3xl);
    }

    a {
        width: fit-content;
        color: hsl(0, 0%, 0%);
        text-decoration: none;
        transition: all 0.04s ease-in;
        line-height: 1.6;
    }

    a:hover {
        font-weight: var(--font-weight-bold);
        transform: scale(1.1);
    }

    a:focus {
        outline: none;
        font-weight: var(--font-weight-bold);
        transform: scale(1.1);
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
    }

    @media (max-width: 1120px) {
        .container {
            grid-template-columns: 1fr 1.5fr;
        }
    }

    @media (max-width: 820px) {
        .container {
            grid-template-columns: 1fr 1fr;
        }
    }

</style>
