---
interface Props {
	title: string;
	body: string;
}

const { title, body } = Astro.props;
---

<section>
    <h1 class="heading-l">{ title }</h1>
    <p class="body-l">{ body }</p>
    <div class="image"></div>
</section>

<style>
    section {
        width: 100%;
    }

    .image {
        width: 100%;
        height: 200px;
        background-color: hsl(0, 0%, 90%);
        border-radius:20px
    }
</style>
