---
const { title, chapter } = Astro.props;
---

<section>
    <div class="container">
        <p>{ chapter }</p>
        <p>{ title }</p>
        <a href="#index">Index</a>
    </div>
    <slot />
</section>

<style>
    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xl);
    }

    .container {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: var(--color-background-primary);
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-l);
        padding: var(--spacing-m) 0;
        border-bottom: 1px solid var(--color-border-primary);
    }

    p {
        width: 100%;
    }

    a {
        position: absolute;
        top: 28px;
        right: 0;
        color: var(--color-foreground-primary);
        text-decoration: none;
    }

    @media (max-width: 1120px) {
        .container {
            grid-template-columns: 1fr 1.5fr;
        }
    }

    @media (max-width: 620px) {
        .container {
            grid-template-columns: 1fr 2fr;
            padding: var(--spacing-s) 0;
        }

        a {
            top: 18px;
        }
    }

</style>
