---
import Block from "./Block.astro";
const { title, id } = Astro.props;
---

<div class="textblock" id={id}>
    <Block>
        <h3 slot = "first" >{ title }</h3>
        <div slot = "second" class="inner">
            <slot>
        </div>
    </Block>
</div>

<style>
    .textblock {
        padding-top: 80px;
    }
    
    .inner {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
</style>
