---
const { title, id } = Astro.props;
---

<section id={id}>
    <h3>{ title }</h3>
    <div>
        <slot>
    </div>
</section>

<style>
    section {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        padding-top: 80px;
    }
    
    div {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
</style>
